var _gen = require('./gen');
var $output = {
   name: 'test',
   depends: ['Worker'],
   elem: [],
   amount: 100,
   options:
   [
      {
         name: 'id',
         type: 'varchar(10)',
         func: _gen.gen_fkey($tables, 'Worker', 'employeeId')
      },
      {
         name: 'post',
         type: 'varchar(10)',
         func: [_gen.post_unique([['id']])]
      }
   ]
}
