var _gen = require('./gen');
var $output = {
   name: 'WorksIn',
   depends: ['Staff', 'Room'],
   elem: [],
   amount: 100,
   options:
   [
      {
         name: 'StaffID',
         type: 'dnm',
         func: _gen.gen_fkey($tables, 'Staff', 'employeeID')
      },
      {
         name: 'StaffRoomNumber',
         type: 'dnm',
         func: _gen.gen_fkey($tables, 'Room', 'RoomNumber')
      },
      {
         name: 'post',
         type: 'n/a',
         func: [_gen.post_unique([['StaffID', 'StaffRoomNumber']])]
      }
   ]
}
