var _gen = require('./gen');
var $output = {
   name: 'InPatient',
   depends: ['Patient'],
   elem: [],
   amount: 100,
   options:
   [
      {
         name: 'patientID',
         type: 'integer',
		 func: _gen.gen_fkey($tables, 'Patient', 'patientID')
      },
      {
         name: 'post',
         type: 'n\a',
         func: [_gen.post_unique(['patientID'])]
      }
   ]
}
