var _gen = require('./gen');
var $output = {
   name: 'Nurse',
   depends: ['Worker'],
   elem: [],
   amount: 100,
   options:
   [
      {
         name: 'employeeID',
         type: 'integer',
		 func: _gen.gen_fkey($tables, 'Worker', 'employeeID')
      },
      {
         name: 'post',
         type: 'n\a',
         func: [_gen.post_unique(['employeeID'])]
      }
   ]
}
