var _gen = require('./gen');
var $output = {
   name: 'TreatmentGiver',
   depends: [],
   elem: [],
   amount: 100,
   options:
   [
      {
         name: 'treatmentGiverID',
         type: 'integer',
       	func: _gen.gen_int(0, 100000)
      },
      {
         name: 'post',
         type: 'n\a',
         func: [_gen.post_unique([['treatmentGiverID']])]
      }
   ]
}
