var _gen = require('./gen');
var $output = {
   name: 'Worker',
   depends: [],
   elem: [],
   amount: 10,
   options:
   [
      {
         name: 'id',
         type: 'varchar(10)',
         func: _gen.gen_def_from_words() 
      },
      {
         name: 'post',
         type: 'n\a',
         func: []
      }
   ]
}
